<div class="user_content">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Wykłady</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    $0 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Matematyka</li>
                    <li>PSIAI</li>
                    <li>Geoinformatyka</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-success">
                    Wybierz Wykład
                </button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pliki</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    $0 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Matematyka</li>
                    <li>PSIAI</li>
                    <li>Geoinformatyka</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-success">
                    Wybierz Plik
                </button>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Kursy</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    $0 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Matematyka</li>
                    <li>PSIAI</li>
                    <li>Geoinformatyka</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-success">
                    Wybierz Kurs
                </button>
            </div>
        </div>

    </div>
</div>