{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                <a href="{{ path('login') }}">Login</a>
                <a href="{{ path('register') }}">Register</a>
            </div>
        </div>
    </div>
{% endblock %}
