{% extends './admin_profile/index.html.twig' %}
{% block course %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Course edit</h4>

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-primary" type="submit" value="Edit" />
            {{ form_end(edit_form) }}

            <a href="{{ path('course_index') }}" class="btn btn-danger">Back to the list</a>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}
