{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Usuwasz uzytkownika {{ user.username }}</h1>
    <h3>Czy chcesz kontynuować?</h3>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
    <a class="btn btn-success" href="{{ path('user_index') }}">Back</a>
</div>
{% endblock %}
