{% extends './admin_profile/index.html.twig' %}
{% block lecture %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Lecture edit</h4>

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}

            <a href="{{ path('lecture_index') }}">Back to the list</a>
        </div>
    </div>
</div>
{% endblock %}
