{% extends 'base.html.twig' %}

{% block body %}
<h1>Adding a new lecture</h1>

{{ form_start(form) }}
    {# ... #}

    {{ form_row(form.lectureFile) }}
    <input type="submit" class="btn float-left login_btn" />
{{ form_end(form) }}

{% endblock %}